<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Skill Category</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">Skill Category Name</label>
                            <input type="text" class="form-control" id="" ng-model="add.addSkillCategory.Name" placeholder="Enter Industry Name">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="SubmitSkillCategoryName()">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>