<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">


        <div class="panel panel-default">
            <div class="panel-heading">Details Of Other</div>
            <div class="panel-body">

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>No. of employees</td>
                            <td>{{Other.NoOfEmpl}}</td>
                        </tr>

                        <tr>
                            <td>Locations</td>
                            <td>{{Other.Location}}</td>
                        </tr>


                        <tr>
                            <td>No. of employees covered in PF/ESIC</td>
                            <td>{{Other.NoOfEmplPF_ESIC}}</td>
                        </tr>


                        <tr>
                            <td>Health Report</td>
                            <td>{{Other.HealthRpt}}</td>
                        </tr>


                        <tr>
                            <td> Exits/Resigns</td>
                            <td>{{Other.Exits}}</td>
                        </tr>


                        <tr>
                            <td>CLRA Status</td>
                            <td>{{Other.CLRA_Status}}</td>
                        </tr>


                        <tr>
                            <td>Open positions shared</td>
                            <td>{{Other.open_positions_share}}</td>
                        </tr>


                        <tr>
                            <td>Joinees</td>
                            <td>{{Other.Joinees}}</td>
                        </tr>

                        <tr>
                            <td>Invoices</td>
                            <td>{{Other.Invoices}}</td>
                        </tr>

                        <tr>
                            <td>Agreements Date</td>
                            <td>{{Other.Agreements_Dates}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>


</section>