<style>
    .flex {
        display: flex;
    }

    .blog-conatiner {
        margin-top: 150px;
        padding: 8px 16px;
    }

    .header-part {
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .blog-content {
        margin: 20px 0;
        margin: 0 auto;
        width: 90%;
        flex-wrap: wrap;
    }

    .blog-card {
        width: 30%;
        margin: 15px 15px;
        padding: 4px 8px;
        border-radius: 10px;
        transition: transform .2s;
        font-size: 16px;
        letter-spacing: 0.2px;
        font-size: 16px;
        font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
        letter-spacing: 0.2px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
        box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, 0.16);
    }

    .blog-card:hover {
        transform: scale(1.02);
        box-shadow: 0 0 8px 1px grey;
    }

    .blog-img {
        width: 100%;
        height: 150px;
    }

    .blog-items {
        margin-bottom: 10px;
    }

    .blog-footer {
        flex-direction: row-reverse;
        display: flex;
    }

    .blog-h3 {
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        font-family: proxima-nova, Helvetica, Arial, sans-serif;
        font-weight: 600;

    }

    .blog-h5 {
        font-size: 14px;
        line-height: 22px;
        color: #333333;
        font-family: proxima-nova, Helvetica, Arial, sans-serif;
        font-weight: 300;

    }

    .read-more {
        padding: 3px 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        color: #333;
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        background: #fff;
    }

    .modal-dialog {
        width: 90% !important;
    }

    .img-blogData {
        width: 100%;
    }

    .discription {
        box-shadow: 0 0 5px grey;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 4px;
    }

    .img-blogData {
        max-height: 300px;
    }

    .blog-view {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 131px;
        z-index: 1000;
        background-color: #808080b8;
    }

    .blog-view .container {
        padding: 20px 20px;
    }

    .img-blog-cut {
        position: absolute;
        top: 30px;
        right: 30px;
        height: 40px;
    }

    .blog-view .container .content {
        flex-direction: column;
    }
</style>

<div class="blog-conatiner">
    <div class="flex header-part">
        <span>Blog</span>
        <input type="search" value="">
    </div>
    <div class="flex blog-content">
        <div class="blog-card" ng-repeat="item in getBlogs">
            <div class="blog-items">
                <h3 class="blog-h3">{{item.blogHeading}}</h3>
                <h5 class="blog-h5">{{item.blogShortDisc}}</h5>
                <img src="{{item.blogImage}}" class="blog-img" alt="" srcset="">
            </div>
            <div class="blog-footer">
                <button class="read-more" data-toggle="modal" data-target="#myModal" ng-click="getDataFor(item)">Read More</button>
            </div>
        </div>
        <!-- <div class="blog-card">
            <div class="blog-items">
                <h3 class="blog-h3">Should you give a break to your SIP?</h3>
                <h5 class="blog-h5">A lot of investors take the obviously smart step of starting SIPs in </h5>
                <img src="https://content2.scripbox.com/content/attachment/1914/bresk-SIP.jpg" class="blog-img" alt="" srcset="">
            </div>
            <div class="blog-footer">
                <button class="read-more">Read More</button>
            </div>
        </div> -->


    </div>
</div>
<!-- <div class="blog-view">
    <div class="container">
        <img src="https://cdn0.iconfinder.com/data/icons/feather/96/circle-cross-128.png" class="img-blog-cut" alt="" srcset="">
        <div class="flex content">
                <img src="{{detailsBlog.blogImage}}" class="img-blogData" alt="" srcset="">
        </div>
    </div>
</div> -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{detailsBlog.blogHeading}}</h4>
            </div>
            <div class="modal-body">
                <style>
                    .img-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                </style>
                <form role="form">
                    <div class="box-body">
                        <div class="image">
                            <img src="{{detailsBlog.blogImage}}" class="img-blogData" alt="" srcset="">
                        </div>
                        <div class="discription" id="discription">
                            {{detailsBlog.blogDisc}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>