<style>
    .whatsup {
        width: 26px;
    }
    body {
        color: #000 !important;
    }
</style>
<div class="row margin-top-40" style="padding-left: 20px;padding-right: 20px;padding-top: 20px">

    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1  margin-bottom-10 ">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h3><strong class="themeColorContact">Our Offices</strong></h3>
        <h3> <b class="themeColorContact themeColorContactFont ">Registered Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            702 – Wellington Business Park 1, Asan Pada Rd, Marol, Andheri East, Mumbai – 400059

            <br/> Landmark - Marol Naka Metro Station.
            <br /> Board Line No.: 022-49213100
            <br /> Email: info@assortstaffing.com
        </p>
        <h3><b class="themeColorContact themeColorContactFont">For Associate query:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            <br/> Mobile : +919953582323
            <p>
                <img src="https://cdn0.iconfinder.com/data/icons/tuts/256/whatsapp.png" class="whatsup" alt="" srcset="">
                7400404726
            </p>
        </p>
        <h3><b class="themeColorContact themeColorContactFont">For Business query:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            <p>
                <img src="https://cdn0.iconfinder.com/data/icons/tuts/256/whatsapp.png" class="whatsup" alt="" srcset=""> 
                7400404762
            </p>
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Pune Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            104, Sankla Arcade, Opp. Lagu Bandhu,Karve Road, Erandwane,Pune-411004.
        </p>

        <h3><b class="themeColorContact themeColorContactFont">Bengaluru Office: </b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            #13/36, 3rd Cross, 80 ft Road, Venkata Reddy Layout, Ejipura, Koramangala, Bengaluru – 560095
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Ahemadabad Office: </b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            A-224,Siddhi Vinayak Towers, Near Kataria Arcade, Makarba Road, S G Highway, Sarkhej, Ahmedabad, Gujarat -380051
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Delhi Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            Flat No. 507, Pragati House, 47-48, Nehru Place, New Delhi 110019.
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Kolkata Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            25B, Avedananda Road, 1"Floor, Kolkata-700 006, W.B. (India).
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Jaipur Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            Manorama, #2 Ambeshwar Colony,  New Sanganer Road, Next to Shyam Nagar metro station,  Jaipur - 302019.
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Hyderabad Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            Co-Karma - 5th floor, Liberty Plaza, Himayat Nagar road, Gagan Mahal,  Domalguda, Himayatnagar, Hyderabad - 500029.
        </p>
        <h3><b class="themeColorContact themeColorContactFont">USA Office:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            Post Box 6131 ,3432 South Dug Gap Road ,Dalton, GA 30720
            <br />
            <p>
                <strong>Phone Number :</strong> +17065084477
            </p>
            <p>
                <img src="https://cdn0.iconfinder.com/data/icons/tuts/256/whatsapp.png" class="whatsup" alt="" srcset=""> 
                7400404726, 7400404762
            </p>
            <!-- <p>
                <strong>Email :</strong> <a href="mailTo:info@radfordglobalus.com">info@radfordglobalus.com</a>
            </p> -->
            <p>
                <strong>Email :</strong> <a href="mailTo:info@assortstaffing.com">info@assortstaffing.com</a>
            </p>
        </p>
        <h3><b class="themeColorContact themeColorContactFont">Satellite Offices:</b></h3>
        <p class="margin-bottom-10 themeColorContactFontSub">
            <span class="md-chip"> Chennai</span>  <span class="md-chip"> Sangli</span> <span class="md-chip"> Hyderabad </span> <span class="md-chip"> Jaipur</span>
            <br />
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1  margin-bottom-10 ">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  margin-bottom-10  themeFontFamily">
        <h2 class="text-center themeParagraph">Looking For Our Services?</h2>
        <h5 class="themeParagraph">Assort Staffing Services have the skills and the expertise to resolve your HR management
            issues professionally and cost-effectively.</h5>
        <form class="margin-bottom-10">
            <div class="form-group">
                <label for="name" class="themeFontFamily themeFontWeight">Name</label>
                <input type="text" class="form-control txtThemeGrayBgColor" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="email" class="themeFontFamily themeFontWeight">Your Email</label>
                <input type="email" class="form-control txtThemeGrayBgColor" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <label for="email" class="themeFontFamily themeFontWeight">Company</label>
                <input type="text" class="form-control txtThemeGrayBgColor" placeholder="Enter Your Company Name">
            </div>
            <div class="form-group">
                <label for="email" class="themeFontFamily themeFontWeight">Contact Number</label>
                <input type="number" class="form-control txtThemeGrayBgColor" placeholder="Enter Your Contact Number">
            </div>
            <div class="form-group">
                <label for="email" class="themeFontFamily themeFontWeight">How do you like to be contacted</label>
                <select class="form-control themeFontFamily themeFontWeight">
                    <option>Select Option To Be Contacted</option>
                    <option>Via Email</option>
                    <option>Via Phone</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email" class="themeFontFamily themeFontWeight">Which service(s) are you interested in</label>
                <select class="form-control themeFontFamily themeFontWeight">
                    <option>Select</option>
                    <option>IT Staffing</option>
                    <option>Temp. Staffing</option>
                    <option>Payroll Outsourcing</option>
                    <option>Search & Selection</option>
                    <option>Internation Recruitment</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email" class="themeFontFamily themeFontWeight">Please provide a brief outline of your enquiry</label>
                <textarea rows="4" cols="50" class="form-control txtThemeGrayBgColor" placeholder="Enter Your enquiry"></textarea>
            </div>
            <button type="button" class="btn btn-default btnTheme themeFontFamily themeFontWeight">Submit</button>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1  margin-bottom-10 ">
    </div>
</div>